/* Michael Harris */
/* Date Developed 02/08/2024*/
/* Date Tested 02/24/2024*/


html {
    margin: 10px;                    /* Apply a 10 pixel margin to the entire page  */
    background-color: lightblue;    /* Add a light blue background to the web page */
}

header {
    width: 100%;
    background-color: grey
}

body {
    margin: 0; /* Set the margin to 0 */
    padding: 0; /* Set the padding to 0 */
    width: 100%; /* Set the width of the body of the page to 100% for responsiveness */
}

h2, h3 {
    width: 96.875%;    /* Set the width of the headings of the page to 96.875% for responsiveness         */
    padding: 1.0416%; /* Apply a 10 pixel padding to all the headings with percentage for responsiveness */
}
h1 {
    padding: 1.0416%; /* Apply a 10 pixel padding to all the headings with percentage for responsiveness */
    font-size: 4em;
}

p {
    padding-left: 5px;  /* Set a 5 pixel left padding to the paragraph tags   */
    padding-right: 5px; /* Set a 5 pixel right padding to the paragraph tags */
}

ol {
    padding-left: 10px; /* Apply a 10 pixel left padding to all of the list items in the list */
}

ul {
    padding-left: 10px; /* Apply a 10 pixel left padding to all of the list items in the list */
}

table {
 border: 1px solid black;
 border-collapse: collapse; 
}

th, td {
 border: 1px solid black;
 padding: .2em .7em;
 text-align: right; 
}

th.left, td.left { 
    text-align: left; 
}
thead, tfoot { 
    background-color: saddlebrown; 
}
tfoot { 
    font-weight: bold; 
}


.curve img {
    border: 2px solid blue;     /* Apply a blue border to the image */
    margin: 0;
    padding: 0;
    border-radius: 1000px;      /* Make the border have rounded corners                                  */
    position: center;           /* Use the position attribute to position the image                     */
    -moz-border-radius: 1000px; /* Mozilla specific property that makes the border have round elements */
    right: 10 px;
    top: 10px;
    
}

.rollover {
    max-width: 1024px;
    min-width: 724px;
    border: 2px solid black;     /* Apply a black border to the image */
    margin: 0;
    padding: 0;
    border-radius: 1000px;      /* Make the border have rounded corners                                  */
    position: center;           /* Use the position attribute to position the image                     */
    -moz-border-radius: 1000px; /* Mozilla specific property that makes the border have round elements */
    right: 10 px;
    top: 10px;
}
.rollover .fade{
    z-index: 9999;
    transition: opacity 2s linear;
    cursor: pointer;
}


.rollover:hover {
    background-image: url(../Images/Main%20image2.jpg)
}

/* Navigation css aligned left */ 
#nav_menu ul {
     list-style-type: none; padding: 1em 0;
     font-size: 1.5em;
     text-align: left;
     } 
#nav_menu ul li { 
    display: inline; 
    padding: 0 1em; } 
#nav_menu ul li a { 
    font-weight: bold; 
    color: #ffffff; }
#nav_menu ul li a.current { text-decoration: none; }

/* Hover property for nav menu */
a:focus, a:hover {
	font-style: italic;
}


img{
    position: static; /* Sets image position to static */
}

main {
    width: 50%;                     /* Set the width of the main element to 50% of the parent element's width                                */
    height: 500px;                  /* Set the height of the main element to 500 pixels                                                     */
    background-color: floralwhite;  /* Set the background color of the main element to floralwhite                                         */
    float: right;                   /* Position the main element to the right of its container and allow other elements to wrap around it */
}

aside {
    width: 50%;                     /* Set the width of the aside element to 50% of the parent element's width                               */
    height: 500px;                  /* Set the height of the aside element to 500 pixels                                                    */
    background-color: floralwhite;  /* Set the background color of the aside element to floralwhite                                        */
    float: left;                    /* Position the aside element to the left of its container and allow other elements to wrap around it */
}

/* general layout (960px to 2024px) */
@media only screen and (max-width: 2024px) { 
    #mobile_menu { display: none; }    
}

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) { 
    #mobile_menu { display: none; } 
}

/* mobile landscape layout (480px to 767px) */ 
@media only screen and (max-width: 767px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }        /*  22 ÷ 16    */ 
    header h3 { font-size: .8125em; }       /*   13 ÷ 16   */ 
    p { font-size: .875em; }               /*    14 ÷ 16  */ 
    article h1, main h2, aside h2
        { font-size: 1em; }                 /* base font size */ 
    aside li { font-size: .875em; }         /* 14 ÷ 16       */
    
}

/* mobile portrait layout (479px or less) */ 
@media only screen and (max-width: 479px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }   /* 22 ÷ 16 */ 
    header h3 { font-size: .8125em; }   /* 13 ÷ 16 */ 
    p { font-size: .875em; }            /* 14 ÷ 16 */ 
    article h1, main h2, aside h2 
        { font-size: 1em; }             /* base font size */ 
    aside li { font-size: .875em; }     /* 14 ÷ 16 */ 
  
}
